#
# Froxlor logrotate snippet
#
/var/customers/logs/*.log {
  missingok
  daily
  rotate 7
  compress
  delaycompress
  notifempty
  create
  sharedscripts
  postrotate
  service {{ froxlor_settings.webserver }} reload > /dev/null 2>&1 || true
  endscript
}