user = {{ lookup('ansible.builtin.ini', 'user', section='client', file='~/.froxlor.cnf') }}
password = {{ lookup('ansible.builtin.ini', 'password', section='client', file='~/.froxlor.cnf') }}
dbname = {{ lookup('ansible.builtin.ini', 'database', section='client', file='~/.froxlor.cnf') }}
hosts = localhost
query = SELECT destination FROM mail_virtual AS v, panel_customers AS c WHERE c.customerid = v.customerid AND c.deactivated = 0 AND v.email = '%s' AND trim(v.destination) <> ''